
.vs/Word-Printer/v15/.suo
/test
Word-Printer/dbConfig.json
*.pyc
/Word-Printer/dist
/Word-Printer/build
*.spec
/Word-Printer/save
/Word-Printer/docSave
/Word-Printer/picture_save
/Word-Printer/logoData
/.vs
/Word-Printer/logging
Word-Printer/env/